@charset "UTF-8";

[unselectable="on"]
{
	user-select        : none;
	-webkit-user-select: none;
	-moz-user-select   : none;
}

div.cazary
{
	display: inline-block;
	/* IE7 Hack */
	*display: inline;
	*zoom: 1;

	border: 1px solid #4d4d4d;
	overflow: hidden;
}
iframe.cazary-edit
{
	display: block;
	width: 100%;
	border-style: none;
}
textarea.cazary-source
{
	display: block;
	border: none;
	margin: 0px;
	padding: 0px;
	color: #cccccc;
	background-color: #222222;
	resize: none;
}

/* panel */
div.cazary-panel
{
	position: absolute;
	padding: 2px;
	border: 1px solid #b5b5b5;
	background-color: #d6d6ce;

	font-family: sans-serif;

	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=3, color=#808080);
}
div.cazary-panel-forecolor,
div.cazary-panel-backcolor,
div.cazary-panel-insertimage,
div.cazary-panel-createlink
{
	padding: 4px!important;
}

/* widget */
ul.cazary-widget-select
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul.cazary-widget-select li
{
	padding: 2px;
	cursor: pointer;
	border: 1px solid transparent;
}
ul.cazary-widget-select li:hover
{
	border: 1px solid #215ab4;
	background-color: #316ac4;
	color: #ffffff;
}
ul.cazary-widget-select-color
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
ul.cazary-widget-select-color li
{
	margin: 1px;
	padding: 0px;
	float: left;
	border: 1px solid #d6d6ce;
	cursor: pointer;

	width: 12px;
	height: 12px;

	text-indent: -9999px;

	border-radius        : 3px;
	-moz-border-radius   : 3px;
	-webkit-border-radius: 3px;
	-o-border-radius     : 3px;
	-ms-border-radius    : 3px;
}
ul.cazary-widget-select-color li:hover
{
	border-color: black;
}
input.cazary-widget-insertimage-url,
input.cazary-widget-createlink-url
{
	width: 400px;
}
img.cazary-widget-insertimage-img
{
}
fieldset.cazary-widget-preview
{
	display: none;
}
iframe.cazary-widget-preview-createlink
{
	width: 640px;
	height: 480px;
}

/* command */
div.cazary-commands-wrapper
{
	padding: 3px;
	background-color: #f0f0f0;
	overflow: hidden;
}
ul.cazary-commands-list
{
	margin: 1px 2px;
	padding: 0px;
	float: left;
	list-style-type: none;

	background-color: #e0e0e0;
	overflow: hidden;
}
ul.cazary-commands-list li
{
	margin: 0px;
	float: left;
	cursor: default;

	width: 28px;
	height: 28px;
	line-height: 28px;

	font-family: sans-serif;

	/* CSS sprite */
	text-indent: -9999px;
	background-image: url(sprite.png);
}
ul.cazary-commands-list li:hover
{
	background-color: #d0d0d0;
}
ul.cazary-commands-list li.cazary-active
{
	background-color: #c0c0c0!important;
}
ul.cazary-commands-list li.cazary-disabled
{
	color: #888888!important;
	border-color: transparent!important;
	background-color: transparent!important;
}
ul.cazary-commands-list li.cazary-command-separator
{
	width: 0px!important;
	margin: 0px 2px!important;
	border: none!important;
	border-left: 1px solid #cccccc!important;
	background-color: transparent!important;
}
ul.cazary-commands-list li.cazary-command-fontname,
ul.cazary-commands-list li.cazary-command-fontsize
{
	width: auto;
	padding: 0px 13px 0px 4px;

	text-indent: 0px;

	background-image: url(arrow-down.png);
	background-repeat: no-repeat;
	background-position: center right;
}
ul.cazary-commands-list li.cazary-command-bold
{
	background-position: 0px 0px;
}
ul.cazary-commands-list li.cazary-command-bold.cazary-disabled
{
	background-position: 0px -28px;
}
ul.cazary-commands-list li.cazary-command-italic
{
	background-position: -28px 0px;
}
ul.cazary-commands-list li.cazary-command-italic.cazary-disabled
{
	background-position: -28px -28px;
}
ul.cazary-commands-list li.cazary-command-underline
{
	background-position: -56px 0px;
}
ul.cazary-commands-list li.cazary-command-underline.cazary-disabled
{
	background-position: -56px -28px;
}
ul.cazary-commands-list li.cazary-command-strikethrough
{
	background-position: -84px 0px;
}
ul.cazary-commands-list li.cazary-command-strikethrough.cazary-disabled
{
	background-position: -84px -28px;
}
ul.cazary-commands-list li.cazary-command-removeformat
{
	background-position: -112px 0px;
}
ul.cazary-commands-list li.cazary-command-removeformat.cazary-disabled
{
	background-position: -112px -28px;
}
ul.cazary-commands-list li.cazary-command-forecolor
{
	width: 41px;
	background-position: -140px 0px;
}
ul.cazary-commands-list li.cazary-command-forecolor.cazary-disabled
{
	background-position: -140px -28px;
}
ul.cazary-commands-list li.cazary-command-backcolor
{
	width: 41px;
	background-position: -181px 0px;
}
ul.cazary-commands-list li.cazary-command-backcolor.cazary-disabled
{
	background-position: -181px -28px;
}
ul.cazary-commands-list li.cazary-command-superscript
{
	background-position: -222px 0px;
}
ul.cazary-commands-list li.cazary-command-superscript.cazary-disabled
{
	background-position: -222px -28px;
}
ul.cazary-commands-list li.cazary-command-subscript
{
	background-position: -250px 0px;
}
ul.cazary-commands-list li.cazary-command-subscript.cazary-disabled
{
	background-position: -250px -28px;
}
ul.cazary-commands-list li.cazary-command-justifyleft
{
	background-position: -278px 0px;
}
ul.cazary-commands-list li.cazary-command-justifyleft.cazary-disabled
{
	background-position: -278px -28px;
}
ul.cazary-commands-list li.cazary-command-justifycenter
{
	background-position: -306px 0px;
}
ul.cazary-commands-list li.cazary-command-justifycenter.cazary-disabled
{
	background-position: -306px -28px;
}
ul.cazary-commands-list li.cazary-command-justifyright
{
	background-position: -334px 0px;
}
ul.cazary-commands-list li.cazary-command-justifyright.cazary-disabled
{
	background-position: -334px -28px;
}
ul.cazary-commands-list li.cazary-command-justifyfull
{
	background-position: -362px 0px;
}
ul.cazary-commands-list li.cazary-command-justifyfull.cazary-disabled
{
	background-position: -362px -28px;
}
ul.cazary-commands-list li.cazary-command-indent
{
	background-position: -390px 0px;
}
ul.cazary-commands-list li.cazary-command-indent.cazary-disabled
{
	background-position: -390px -28px;
}
ul.cazary-commands-list li.cazary-command-outdent
{
	background-position: -418px 0px;
}
ul.cazary-commands-list li.cazary-command-outdent.cazary-disabled
{
	background-position: -418px -28px;
}
ul.cazary-commands-list li.cazary-command-insertorderedlist
{
	background-position: -446px 0px;
}
ul.cazary-commands-list li.cazary-command-insertorderedlist.cazary-disabled
{
	background-position: -446px -28px;
}
ul.cazary-commands-list li.cazary-command-insertunorderedlist
{
	background-position: -474px 0px;
}
ul.cazary-commands-list li.cazary-command-insertunorderedlist.cazary-disabled
{
	background-position: -474px -28px;
}
ul.cazary-commands-list li.cazary-command-inserthorizontalrule
{
	background-position: -502px 0px;
}
ul.cazary-commands-list li.cazary-command-inserthorizontalrule.cazary-disabled
{
	background-position: -502px -28px;
}
ul.cazary-commands-list li.cazary-command-insertimage
{
	width: 41px;
	background-position: -530px 0px;
}
ul.cazary-commands-list li.cazary-command-insertimage.cazary-disabled
{
	background-position: -530px -28px;
}
ul.cazary-commands-list li.cazary-command-createlink
{
	width: 41px;
	background-position: -571px 0px;
}
ul.cazary-commands-list li.cazary-command-createlink.cazary-disabled
{
	background-position: -571px -28px;
}
ul.cazary-commands-list li.cazary-command-unlink
{
	background-position: -612px 0px;
}
ul.cazary-commands-list li.cazary-command-unlink.cazary-disabled
{
	background-position: -612px -28px;
}
ul.cazary-commands-list li.cazary-command-undo
{
	background-position: -640px 0px;
}
ul.cazary-commands-list li.cazary-command-undo.cazary-disabled
{
	background-position: -640px -28px;
}
ul.cazary-commands-list li.cazary-command-redo
{
	background-position: -668px 0px;
}
ul.cazary-commands-list li.cazary-command-redo.cazary-disabled
{
	background-position: -668px -28px;
}
ul.cazary-commands-list li.cazary-command-source
{
	background-position: -696px 0px;
}
ul.cazary-commands-list li.cazary-command-source.cazary-disabled
{
	background-position: -696px -28px;
}
