@charset "utf-8";
// mixins collection


////////////////////////////////////////////////////////////////////////////////
// properties with vendor prefix
@mixin vendor-prefix($property, $value, $vendors: "o" "ms" "moz" "webkit")
{
	@each $vendor in $vendors
	{
		-#{$vendor}-#{$property}: $value;
	}
	#{$property}: $value;
}
@mixin user-select($value: none)
{
	@include vendor-prefix("user-select", $value, "ms" "moz" "webkit");
}
@mixin border-radius($value)
{
	@include vendor-prefix("border-radius", $value, "moz" "webkit");
}
@mixin box-shadow($value)
{
	@include vendor-prefix("box-shadow", $value, "moz" "webkit");
}


////////////////////////////////////////////////////////////////////////////////
// hacks

@mixin inline-block
{
	display: inline-block;

	// IE7 Hack
	*display: inline;
	*zoom: 1;
}


////////////////////////////////////////////////////////////////////////////////
// SVG background-image with fallback
@mixin background-image($image, $image-svg: null)
{
	background-image: url($image);
	@if $image-svg != null
	{
		background-image: -webkit-linear-gradient(transparent, transparent), url($image-svg);
		background-image:         linear-gradient(transparent, transparent), url($image-svg);
	}
}


////////////////////////////////////////////////////////////////////////////////
// CSS sprite
@mixin css-sprite($image, $x, $y, $width, $height, $image-svg: null)
{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	padding: 0px !important;
	width: $width;
	height: $height;
	background-position: (-$x) (-$y);
	@include background-image($image, $image-svg);
}
@mixin css-sprite-offset($x: 0px, $y: 0px, $offset-x: 0px, $offset-y: 0px)
{
	background-position: (-$x - $offset-x) (-$y - $offset-y);
}
